@model  WebApplication_Test.Models.Model_Test

@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

@using (Html.BeginForm("Create", "Home", FormMethod.Post, new { id = "main-form" }))
{
    <div class="container-fluid">
        <div>
            @Html.LabelFor(model => model.Name, new { @class = "form-group" })
            @Html.EditorFor(x => x.Name, new { @class = "form-control" })
        </div>
        <div>
            @Html.LabelFor(x => x.Age, new { @class = "form-group" })
            @Html.EditorFor(x => x.Age, new { @class = "form-control" })
        </div>
    </div>
    <input type="submit" id="btn-post" class="btn-primary" value="Enviar" />
}
<div>
    <form id="second-form">
        <div>
            <label>@Model.Name</label>
    
        </div>
        <div>
            <label>@Model.Age</label>
        </div>
        <input id="btn-get" value="Obtener" class="btn-default" type="button"/>
    <div class="model-status"><p id="par">Esperando..</p></div>
    </form>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('#btn-get').click(function () {

                $.ajax({
                    url: '@Url.Action("About","Home")',
                    type: 'Get',
                    data: {
                        Name: $('#model-name').val(),
                        Age: $('#model-age').val()
                    },
                    cache: false,
                    success: function (res) {
                        var status = $('#par');
                        if (res) {
                            status.text("Realizado")
                        } else {
                            status.text("Fallo")
                        }
                    },
                    error: function (jqXHR, textStatus, error) {
                        $('#par').text("Estado: Error inesperado");
                    }
                });
            });
        })
    </script>
}