@model WebApplication_Test.Models.Model_Test

@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";


}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



<button id="btn-get" class="btn-default">Obtener</button>
<div id="DivGet">
    <table class="tftable" border="1" id="tbl">
        <tr id="">
            <th>Nombre</th>
            <th>Edad</th>
        </tr>
        <tr id="tbl1">

        </tr>
    </table>


</div>


@section Scripts
    {
    <script>
        $(document).ready(function () {
            $('#btn-get').click(function () {
                @*var url = '@Url.Action("Get", "Home")';
                $.get(url).done(function (data)
                {
                    for (let i = 0; i < data.lenght; i++) {
                        $("#div-get").text(data[i].Name);
                        console.log(data[i]);

                    }

                }).fail(function (error) {
                    alert('Ocurrio algo ' + error);
                    console.log(error);
                })*@
                $.ajax({
                    url: '@Url.Action("Get","Home")',
                    success: (function (result) {
                        var res = result;
                        var responsehtml = ''
                        console.log(res.length)
                        //$.each(result, function (i, value) {
                        //    console.log(value);
                        //});
                        for (var i = 0; i < res.length; i++) {
                            localStorage.setItem(`name ${i}`, res[i].Name);
                            localStorage.setItem(`age ${i}`, res[i].Age)
                            responsehtml +=
                                `   
                                    <td>  ${res[i].Name} </td>
                                    <td> ${res[i].Age} </td>

                                `;
                        }
                        document.getElementById("tbl1").innerHTML = responsehtml;



                    })
                });
            });
        })
    </script>
}
@* /*$('#get').append(res);*/

    data: $.get('@Url.Action("Get","Home")', (function (data) {
         console.log(data);
         $('#get').append(data)
     })
     ),
                    //}).fail(function (data) {
                    //
                    //    alert("error");
                    //})
                    //    .always(function (data) {
                    //        alert("complete");
                      //}),
                    //dataType: 'JSON',
                    //async: true*@

@*var url = '@Url.Action("Contact","Home")';
    var name = document.getElementById('model-name').innerHTML;
    var age = document.getElementById('model-age').innerHTML;

    localStorage.setItem("name", name);
    localStorage.setItem("age", age);
    console.log(name, age);*@